@import '../styles/settings.scss';

section {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    position: relative;

    div {
        position: relative;
        width: 50%;
        padding: 3rem;
        height: inherit;
        display: inline-block;
    }
}

p, label {
    color: #FFFFFF;
}

p {
    width: 50%;
    margin-top: 3rem;
}

label {
    display: block;
    margin: 30px 0 10px;
}

input {
    font-size: 0.8rem;
    padding: 5px 10px;
    width: 50%;
    cursor: pointer;
}

textarea {
    font-size: 0.8rem;
    padding: 5px 10px;
    width: 50%;
    height: 300px;
    resize: none;
    cursor: pointer;
}

button {
    display: block;
    margin-top: 30px;
    border: 1px solid inset grey;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;

    img, span {
        display: inline;
        position: relative;
        cursor: pointer;
    }

    img {
        top: 2.5px;
    }

    span {
        top: -5px;
        padding-left: 5px;
        font-size: 0.95rem;
    }

    }

    form {

        p {
            margin: 4rem 0 1rem;
        }

        a {
            font-size: 1.8rem;
            font-weight: 900 !important;
            cursor: pointer;
        }
    }

    #dj-contact {
        position: absolute;
        height: 100px;
        bottom: 0;
        left: 3rem;
    }

    @media screen and (max-width: 1024px) {

        section {
            flex-direction: column;

            div {
                width: 100%;
                 left: 50%;
                 transform: translateX(-25%);
                 padding: 3rem 0;
            }
        }

        #dj-contact {
            left: 20px;
        }
    }