@import '../styles/settings.scss';

section {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    position: relative;

    #contact-msg, #contact-form {
        position: relative;
        width: 50%;
        padding: 1rem 2rem;
        height: inherit;
        display: inline-block;
    }
}

p, label {
    color: #FFFFFF;
}

p {
    position: relative;
    width: 50%;
    margin-top: 3rem;
}

label {
    position: relative;
    display: block;
    margin: 30px 0 10px;
}

input, textarea {
    position: relative;
    font-size: 0.8rem;
    padding: 5px 10px;
    width: 50%;
    cursor: pointer;
}

textarea {
    height: 300px;
    resize: none;
}

button {
    position: relative;
    display: block;
    margin-top: 30px;
    border: 1px solid inset grey;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;

    img, span {
        display: inline;
        position: relative;
        cursor: pointer;
    }

    img {
        top: 2.5px;
    }

    span {
        top: -5px;
        padding-left: 5px;
        font-size: 0.95rem;
    }

    }

    form {
        position: relative;

        p {
            margin: 4rem 0 1rem;
        }

        a {
            // position: relative;
            font-size: 1.8rem;
            font-weight: 900 !important;
            cursor: pointer;
        }
    }

    #dj-contact {
        position: relative;
        width: 10%;
        height: inherit;
        bottom: 0 !important;
        right: 91%;
        // left: -90%;
        // padding: 0 0 0 3rem;
        
        
        img {
            position: relative;
            top: 80%;
            // padding: 1rem;
            margin: 3rem;
        }
    }

    @media screen and (max-width: 1024px) {

        section {
            flex-direction: column;

            #contact-msg, #contact-form {
                width: 100%;
                left: 0;
                padding: 1rem;     
            }
        }

        p, input, textarea {
            width: 70%;
            left: 15%;
        }

        label {
            left: 15%;
        }

        button {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 50px;
        }

        #dj-contact {
             left: 20px;
            img {
             margin: 1rem;
            }
        }
    }

    @media screen and (max-width: 425px) {

        p, input, textarea {
            width: 90%;
            left: 5%;
        }

        label {
            left: 5%;
        }

        form {
            a {
                font-size: 1.4rem;
            }
        }
    }