@import './settings.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}

html, body {
    font-family: $headings; 
    overflow-x: hidden;
    //chrome fix for scroll adding to overall body width
    overflow-y: overlay;
    //background: linear-gradient(-270deg, rgb(189, 2, 189), rgb(55, 55, 207), rgb(27, 216, 27)); - other color scheme

    //prevent user selection
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    //smooth scroll 
    -webkit-scroll-behavior: smooth;
    -khtml-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.red {
    color: $theme;
}

.white {
    color: $white;
}

section {
    position: relative;
    width: 101vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
}

.section-dark {
    background: rgba(27, 32, 37, 1);
}

.section-light {
    background: rgba(245, 245, 245, 1);
}

