@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Archivo+Black&family=Audiowide&family=Balsamiq+Sans&family=Gugi&family=Krona+One&family=Orbitron:wght@500&family=Rock+Salt&family=Shadows+Into+Light&family=Slackey&family=Syncopate');

$headings: 'Syncopate',  'Slackey', 'Shadows Into Light',  'Rock Salt', 'Orbitron', 'Gugi', 'Balsamiq Sans', 'Audiowide', 'Archivo Black', 'Architects Daughter', 'Amatic SC', 'Helvetica', cursive, sans-serif;

$black: rgb(0,0,0);
$white: rgb(255,255,255);
$theme: rgb(255,0,0);
$theme2: rgb(82, 100, 117);