@import '../styles/settings.scss';

section {
    position: relative;

    #gallery-images, #dj-gallery {
        position: relative;
    }

    #gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%); 
        -khtml-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: 3rem;

        img {
            width: 100%;
            max-width: 300px;
            height: 250px;
            border-radius: 3px;
            cursor: pointer;
            -webkit-transition: .3s; 
            -khtml-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            opacity: 0.6;
            margin: 1.5rem;
            box-shadow: 0 9px 10px -12px $white;

            &:hover {
                -webkit-transition: .3s; 
                -khtml-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                opacity: 1;
            }
        }
    }

    #dj-gallery {  //this isn't correct, look at other sections - sort positioning to be consistent of these throughout! 
        height: inherit;

        img {
            position: relative;
            width: 160px;
            top: 89%;
            left: 50%;
            -webkit-transform: translateX(-50%); 
            -khtml-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            
        }
    }
}

@media screen and (max-width: 425px) {
    
    section {
        #dj-gallery {
            img {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    
    section {
        #gallery-images {
            img {
                max-width: 250px;
                height: 200px;
            }
        }
    }
}