@import '../styles/settings.scss';

section {
    position: relative;

    #gallery-images, #dj-gallery {
        position: relative;
    }

    #gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        img {
            width:100%; 
            max-width:300px;
            height: 250px;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.3s;
            opacity: 0.6;
            margin: 1.5rem;
            box-shadow: 0 9px 10px -12px $white;

            &:hover {
                transition: 0.3s;
                opacity: 1;
            }
        }
    }

    #dj-gallery {
        height: inherit;

        img {
            position: relative;
            width: 90%;
            top: 87.5%;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
}

@media screen and (max-width: 425px) {
    
    section {
        #dj-gallery {
            img {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    
    section {
        #gallery-images {
            img {
                max-width: 250px;
                height: 200px;
            }
        }
    }
}